<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
   
    <form action="{{ url_for('admin_check') }}", method="POST">
        <label>Name:</label>
        <input name="name" id="name"></input>
        <label>Password:</label>
        <input name="password" id="password" type="password"></input>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>